[submodule "SlidingMenu"]
	path = SlidingMenu
	url = https://github.com/kibotu/SlidingMenu.git
[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
